$blue:      #30A2BC;
$green:     #B7C65E;
$red:       #FB5C3C;
$yellow:    #F6C655;
$dark_blue: #1B4A77;

$navbar-background-color:   rgba(#f3f3f3, 0.9);
$content-background-color:  rgba(#EFEFFF, 0.9);
$main-text-color:   #3B3B40;
$secondary-text-color:   #77777f;
$toggle-button-highlight-color: adjust-color($blue, $lightness: -5%);
