<meta charset="utf-8" />
<meta http-equiv="pragma" content="no-cache" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" href="/static/img/youmu-seal.png" type="image/x-icon">
<link rel="stylesheet" href="/static/css/foundation.css" />
<link rel="stylesheet" href="/static/css/docs.css" />
<link rel="stylesheet" href="/static/css/base.css" />
<link rel="stylesheet" href="/static/css/font-awesome.min.css" />
<script src="/static/js/angular.min.js"></script>
<script src="/static/js/vendor/modernizr.js"></script>
<script src="/static/js/mm-foundation-tpls.min.js"></script>
<script src="/static/js/app.js"></script>
<script src="/static/js/vendor/jquery.js"></script>
<script src="/static/js/vendor/jquery.form.js"></script>
<script src="/static/js/vendor/jquery.stellar.min.js"></script>
<script src="/static/js/main.js"></script>
