<!DOCTYPE html>
<html class="no-js" lang="en" ng-app="youmuApp">
    <head lang="en">
        <title>404</title>
        {% include 'partials/head.html' %}
    </head>
    <body>

        <div class="main">
            {% include 'partials/topbar.html' %}
        </div>

        <div class="content">
            <div class="main">
                <h2 class="not-found-header main-subheader">查询的页面不存在。</h2>
            </div>
        </div>
    </body>
    {% include 'partials/foot.html' %}
</html>
