.video-list-item {
    @include span-columns(3);
    &:nth-child(4n + 3) {   // First three are exceptions to the grid
        margin-right: 0;
    }
    position: relative;
}

.video-list {
    .first {
        @include span-columns(8);

        .video-title {
            font-size: ms(2);
        }
        .video-details {
            font-size: ms(0);
        }

        .video-data-area {
            padding: $gutter;
        }
    }

    .second, .third {
        @include span-columns(4);
        margin-right: 0;

        .video-title {
            font-size: ms(1);
        }

        .video-data-area {
            padding: $gutter * 0.75;
        }
    }

    .second {
        margin-bottom: $gutter / 2;
    }
}

.navbar {
    .search-area input {
        width: 60%;
    }
}

.video-info {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.video-meta, .video-stats {
    display: table-cell;
}

.video-stats {
    vertical-align: top;
    width: 25%;
}

.comments-list, .comment-form {
    @include span-columns(8);
    @include shift(2);
}
